<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>sys_max_width</key>
		<real>3136</real>
		<key>sys_max_height</key>
		<integer>0</integer>
		<key>sys_request</key>
		<dict>
			<key>http_request</key>
			<dict>
				<key>ip</key>
				<string>192.168.1.1</string>
				<key>port</key>
				<string>8080</string>
			</dict>
			<key>socket_request</key>
			<dict>
				<key>server_ip</key>
				<string></string>
				<key>server_port</key>
				<string></string>
				<key>client_ip</key>
				<string></string>
				<key>client_port</key>
				<string></string>
			</dict>
		</dict>
		<key>sys_resolution</key>
		<dict>
			<key>type_option</key>
			<dict>
				<key>resolution1</key>
				<string>FIXED_WIDTH</string>
				<key>resolution2</key>
				<string>FIXED_HEIGHT</string>
				<key>resolution3</key>
				<string>EXACT_FIT</string>
				<key>resolution4</key>
				<string>NO_BORDER</string>
				<key>resolution5</key>
				<string>SHOW_ALL</string>
			</dict>
			<key>type</key>
			<string>resolution4</string>
			<key>is_openHD</key>
			<false/>
			<key>is_resolution</key>
			<true/>
			<key>is_scale</key>
			<false/>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>768</integer>
		</dict>
		<key>sys_image</key>
		<dict>
			<key>image_search_path</key>
			<dict>
				<key>_mdpi</key>
				<array>
					<string>_layer</string>
					<string>_system</string>
				</array>
				<key>_hdpi</key>
				<array>
					<string>_layer</string>
					<string>_system</string>
				</array>
			</dict>
			<key>image_common_sync</key>
			<array>
				<string>sys_toast_b.png</string>
				<string>sys_dialog_button_disable.png</string>
				<string>sys_dialog_button_down.png</string>
				<string>sys_dialog_button_close.png</string>
				<string>sys_dialog_button_normal.png</string>
				<string>sys_loading.png</string>
			</array>
			<key>image_common_async</key>
			<array/>
			<key>image_layer_load</key>
			<dict>
				<key>_test</key>
				<dict>
					<key>image_load_sync</key>
					<array>
						<string>s12.jpg</string>
					</array>
					<key>image_load_async</key>
					<array>
						<string>s33.jpg</string>
					</array>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
