<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>maxHeightByPhone</key>
		<integer>0</integer>
		<key>maxWidthByPhone</key>
		<real>3136</real>
		<key>imageFolder</key>
		<dict>
			<key>mdpi</key>
			<array>
				<string>plist</string>
				<string>DemoPlayer</string>
			</array>
			<key>hdpi</key>
			<array>
				<string>hdpi1</string>
			</array>
		</dict>
		<key>imageLoadBySync</key>
		<array>
			<string>chatBackground.png</string>
			<string>button.png</string>
			<string>animationbuttonpressed.png</string>
			<string>animationbuttonpressed.png</string>
		</array>
		<key>imageLoad</key>
		<array>
			<string>DemoPlayer0.png</string>
		</array>
		<key>imageLoadPlist</key>
		<array>
			<string>detail.plist</string>
			<string>DemoPlayer0.plist</string>
		</array>
		<key>imageLoadAmature</key>
		<array>
			<string>DemoPlayer.ExportJson</string>
		</array>
		<key>setResolution</key>
		<dict>
			<key>typeList</key>
			<dict>
				<key>resolution1</key>
				<string>FIXED_WIDTH</string>
				<key>resolution2</key>
				<string>FIXED_HEIGHT</string>
				<key>resolution3</key>
				<string>EXACT_FIT</string>
				<key>resolution4</key>
				<string>NO_BORDER</string>
				<key>resolution5</key>
				<string>SHOW_ALL</string>
			</dict>
			<key>type</key>
			<string>resolution4</string>
			<key>isResolution</key>
			<true/>
			<key>isScale</key>
			<false/>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>768</integer>
			<key>isOpenHD</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
